$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@media only screen
  and (min-device-width: 0px)
  and (max-device-width: 1024px){

    ab-landing-view {
      display: none;
    }

    ab-about-view{
      #personalphoto{
        margin: 50px 30% 10px;
      }
      #links{
        margin: 0 30% 0;
      }
      #bio{
        display:block;
        margin: 0 30% 0;
      }
    }
}

body{
  color: #fff;
  font-family: 'Abel', sans-serif;
}

a{
  color: #fff;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color:#fff;
  }
}

.slice{
  width: 100%;
  display: inline-block;
  h2{
    margin: 20px 0 0 20px;
  }
}

#video-container {
  top:0%;
  left:0%;
  height: auto;
  width:100%;
  overflow: hidden;
  z-index: 0;
}
video {
  z-index:0;
  height:inherit;
  width:100vw;
}

ul#nav{
  z-index: 1;
  margin-top: 15px;
  position:absolute;
  list-style: none;
  li{
    display: inline;
    margin-left: 10px;
    a{
      font-size:17px;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

ul#name{
  margin-top: 30%;
  position:absolute;
  list-style: none;
  li{
    color:#000;
    text-decoration: none;
    font-size: 20px;
    h1{
      font-size: 50px;
    }
  }
}

h2{
  margin: 0px;
}

#personalphoto{
  width: 45%;
  height: auto;
  margin:50px 10px 10px 10px;
  border-radius: 18px;
  display: inline-block;
  float: left;
}

#bio{
  width: 45%;
  height: auto;
  font-size: 20px;
  margin-top: 50px;
  padding: 15px 0 0 15px;
  display: inline-block;
}

#links{
  text-decoration: none;
  clear: both;
  float: left;
  ul{
    list-style: none;
    li{
      display: inline;
      font-size: 80px;
      margin-left: 12px;
    }
    #github:hover{
      text-shadow: #333 5px 5px 10px;
    }
    #linkedin:hover{
      text-shadow: #333 5px 5px 10px;
    }
    #twitter:hover{
      text-shadow: #333 5px 5px 10px;
    }
    #rebel:hover{
      text-shadow: #333 5px 5px 10px;
    }
  }
}

.project{
  margin: 50px 0 20px 50px;
  width: 30%;
  img{
    width: 100%;
    border-radius: 18px;
  }
  .description{
    font-size: 20px;
    text-align: center;
  }
  a{
    margin-left: 10px;
    text-decoration: underline;
  }
}

#contact{
  h3{
    margin-left: 20px;
    a{
      text-decoration:underline;
    }
  }
}

#contact-form{
  color: #000;
  margin: 0 0 0 30%;
  button{
    margin: 15px 0 20px 0;
    width: 100px;
  }
  #email{
    margin-bottom: 15px;
    border-radius: 4px;
    width: 62%;
  }
  #body{
    width: 62%;
    height: 200px;
    border-radius: 4px;
    resize: none;
  }
  #response{
    color: #fff;
    font-size: 20px;
  }
}

ab-landing-view .slice{
  display: flex;
}

ab-about-view .slice{
  background-color: #025a7d;
  margin-top: -6px;
}

ab-projects-view .slice{
  background-color: #024864;
}

ab-contact-view .slice{
  background-color: #012432;
}

.footer{
  background-color: #000;
  span{
    color: #f00;
  }
}
