<div id="about" class="slice">
  <h2>About</h2>
  <img id="personalphoto" src="images/tempWebsite.9faccff4.jpg" alt="ME">

  <div id="links">
    <ul>
      <li id="github"><a href="https://github.com/abroccoli" target="_blank"><i class="fa fa-github-square"></i></a></li>
      <li id="linkedin"><a href="https://www.linkedin.com/in/anthonybroccoli" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
      <li id="twitter"><a href="https://twitter.com/BrocBroccoli" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
      <li id="rebel"><a href="http://www.reactiongifs.com/r/do.gif" target="_blank"><i class="fa fa-rebel"></i></a></li>
    </ul>
  </div>

  <div id="bio">
  <p>Hi, thanks for visiting my site! My name is Anthony Broccoli, I am a full-stack web developer and alumni of Syracuse University class of '14. I am passionate about coding and always excited to learn the latest and greatest technologies. In my spare time I am an avid mountain biker, home brewer, and amatuer photographer. Check out my projects below or take a look at my Github account. If you have any questions please reach out! </p>
  </div>
</div>