<div id="landing" class="slice">
  <div id="video-container">
    <ul id="nav">
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="images/NewResume.pdf" title="resume" target="_blank">Resume</a></li>
    </ul>

    <ul id="name">
      <li id="name"><h1>Anthony Broccoli</h1></li>
      <li id="title">> Full-Stack Web Developer</li>
    </ul>


      <video autoplay loop muted class="fillWidth">
        <source src="images/boston/boston.mp4" type="video/mp4"/>
        Your browser does not support the video tag. I suggest you upgrade your browser.
      </video>
    </div><!-- end video-container -->
</div>
