<div id="projects" class="slice">
  <h2>Projects</h2>
  <div class="project">
    <img src="images/inklab.png" alt="inklab">
    <div class="description">
    <p>Story telling game created using Ruby on Rails and CRUD actions.</p>
    <a href="http://inklab.heroku.com" title="Inklab" target="_blank">Heroku Link</a>
    <a href="https://github.com/abroccoli/inklab" title="Repository" target="_blank">Github Repository</a>
    </div>
  </div>
  <div class="project">
    <img src="images/wizurds.png" alt="wizurds">
    <div class="description">
    <p>JavaScript game built using Phaser.io framework</p>
    <a href="http://abroccoli.github.io/first-phaser-final/" title="wizurds" target="_blank">GitHub Pages Link</a>
    <a href="https://github.com/abroccoli/first-phaser-final" title="Repository" target="_blank">Github Repository</a>
    </div>
  </div>
</div>
